    {% extends 'base.html' %}
    {% block content %}
    <main>
        <h2>Todos os Nossos Carros</h2>
        <div class="conteiner-formulario">
            <form method="GET" action="{% url 'cars_list' %}">
                <input type="text" id="search" name="search" placeholder="Buscar carro...">
                <button class="botao-pesquisa" type="submit">Buscar</button>
            </form>
        </div>
        <section class="conteudo-principal">
            {% if object_list %}
                {% for car in object_list %}
                    <div class="container-carro">
                        <img src="{{ car.photo.url }}" alt="Imagem do Carro" width="500" height="300">
                        <h3>{{ car.brand }} - {{ car.model }} - {{ car.factory_year }}</h3>
                        <p class="preco">Preço : R${{ car.value }}00</p>
                        <p class="preco">Autor : {{ car.autor|capfirst }}</p>
                        <p class="preco">Data do Registro : {{ car.day_time }}</p>
                        <a class="btn-detail-car" href="/">Saiba Mais</a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="nenhum-resultado">Nenhum resultado encontrado para essa busca.</p>
            {% endif %}
        </section>
    </main>
    {% endblock %}
