{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}  <!-- Chama o link do template base html !-->
{% endblock %}

{% block content %}
    <main>
        {% if user.is_authenticated %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                    <input class="btn-primary" type="submit" value="Cadastrar">
            </form>
        {% else %}
        <p class="advice-register-car">Para cadastrar um carro você precisa fazer login em sua conta.</p>
        {% endif %}
    </main>
{% endblock %}