.descricao-registro {
    text-align: center;
    font-size: 1.5rem;
}

.btn-register {
    margin-bottom: 40px;
}

.user-register-form input {
    font-size: 1.2rem;
    display: block;
    margin: 20px;
}

.user-register-form label {
    margin-left: 80px;
}